<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<div class="content" role="main">
  <div class="col-sm-9">
    <!-- Highlight Card -->

    <!-- Resources -->
    <h2>Welcome to DDF Application</h2>

    <!-- Next Steps -->

    <input type="hidden" #selection />
  </div>

  <div>
    <app-error-component *ngIf="showError"></app-error-component>
    <!-- Links -->
    <div class="card-div">
      <div class="card-container">
        <a
          href="javascript: void(0);"
          title=" Login to DDF application"
          rel="noopener"
          (click)="login()"
        >
          Login to DDF application</a
        >
      </div>
      <div class="card-container">|</div>
      <div class="card-container">
        <a
          href="javascript: void(0);"
          title="Get Token For SDR API"
          rel="noopener"
          (click)="getToken()"
        >
          Get Token For SDR API</a
        >
      </div>
    </div>
    <div class="token-div" *ngIf="authToken">
      <label for="authToken" class="token-label">Access Token:</label>
      <textarea
        name="authToken"
        id="authToken"
        rows="10"
        cols="110"
        readonly
        [(ngModel)]="authToken"
      >
      </textarea>
      <div>
        <button
          class="btn copy-content-div"
          title="Copy to Clipboard"
          [cdkCopyToClipboard]="authToken"
        >
          <img
            src="../../../../assets/Images/copy.png"
            class="copy-icon"
            alt="Copy Access Token"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
