.form-group {
  padding: 2px;
}
.form-control {
  font-size: inherit;
}
.mandatory {
  color: red;
}
.buttonGroup {
  margin: 5px 0px;
  .btn {
    margin: 0px 5px;
  }
}
.outer {
  border: 1px solid;
}
.gridOuter {
  border: 1px solid;
  height: 200px !important;
}
.submit {
  margin: 1% 45% 2% 0%;
}
.clear {
  margin: 1% 45% 2% 80%;
}
.gridOuter {
  padding: 0px;
}
.imgStyle {
  width: 20%;
  margin-left: 78%;
}
.searchGrid {
  width: 100%;
  height: 100%;
}
.disable-search-section {
  font-size: 10px;
  font-weight: 600;
}
