.form-group{
 padding:2px;
}

.btn{
   
    border-radius: 5px;
    width: 20%;
    padding: 1px;
}
.outer{
    border:1px solid;
}
.gridOuter{
    border:1px solid;
    height: 200px !important;
}
.submit{
    margin: 1% 45% 2% 80%;
}
.clear{
    margin: 1% 45% 2% 0%;
}
input[type=date]{
    width:82%;
}
.gridOuter{
    padding:0px;
}
.imgStyle{
    width: 20%;
    margin-left: 78%;
}
.searchGrid{
    width: 100%; 
    height: 100%
}
