<app-error-component *ngIf="showError"></app-error-component>
<div
  class="disable-search-section"
  *ngIf="route.children.length === 0"
>
  &#9432;
  <em> {{ enableSearchMessage }}</em>
</div>
<div *ngIf="route.children.length === 0">
  <div class="container-fluid outer">
    <h3>Search Study Definitions</h3>

    <form [formGroup]="editorForm">
      <div class="row">
        <div class="col-6">
          <!--left side -->
          <div class="form-group row">
            <label for="studyTitle" class="col-sm-6 col-form-label"
              >Study Title</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                class="input-sm form-control"
                (input)="checkValidations()"
                maxlength="20"
                formControlName="studyTitle"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="usdmVersion" class="col-sm-6 col-form-label"
              >USDM Version<span class="mandatory">*</span></label
            >
            <div class="col-sm-6">
              <select
                class="input-sm form-control"
                formControlName="usdmVersion"
                (change)="checkValidations()"
              >
                <ng-container *ngFor="let item of usdmVersionList">
                  <option
                    *ngFor="let option of item.usdmVersions"
                    [value]="option"
                  >
                    {{ option }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="fromDate" class="col-sm-6 col-form-label"
              >Modified From</label
            >
            <div class="col-sm-6">
              <input
                type="date"
                class="input-sm form-control"
                (change)="checkValidations()"
                formControlName="fromDate"
                [max]="getToday()"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="indication" class="col-sm-6 col-form-label"
              >Indication</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                class="input-sm form-control"
                (input)="checkValidations()"
                formControlName="indication"
              />
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <label for="sponsorId" class="col-sm-6 col-form-label"
              >Sponsor Id</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                class="input-sm form-control"
                (input)="checkValidations()"
                formControlName="sponsorId"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="interventionModel" class="col-sm-6 col-form-label"
              >Intervention Model</label
            >
            <div class="col-sm-6">
              <input
                #interventionInput
                type="text"
                class="input-sm form-control"
                (change)="checkValidations()"
                formControlName="interventionModel"
                matInput
                [matAutocomplete]="autoIntervention"
              />
              <mat-autocomplete
                #autoIntervention="matAutocomplete"
                (optionSelected)="checkValidations()"
              >
                <mat-option
                  *ngFor="let intervention of interventionList | async"
                  [value]="intervention"
                >
                  {{ intervention }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="form-group row">
            <label for="toDate" class="col-sm-6 col-form-label"
              >Modified To</label
            >
            <div class="col-sm-6">
              <input
                type="date"
                class="input-sm form-control"
                (change)="checkValidations()"
                formControlName="toDate"
                [max]="getToday()"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="phase" class="col-sm-6 col-form-label">Phase</label>
            <div class="col-sm-6">
              <input
                #phaseInput
                type="text"
                class="input-sm form-control"
                (change)="checkValidations()"
                matInput
                formControlName="phase"
                [matAutocomplete]="autoPhase"
              />
              <mat-autocomplete
                #autoPhase="matAutocomplete"
                (optionSelected)="checkValidations()"
              >
                <mat-option
                  *ngFor="let phase of phaseList | async"
                  [value]="phase"
                >
                  {{ phase }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <!--right side -->
      </div>
      <!-- form for teacher/student-->
      <div class="row buttonGroup">
        <div class="col-md-12 text-center">
          <button class="btn btn-secondary btn-sm" (click)="clearSearch()">
            Reset
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            [disabled]="!editorForm.valid || !enableSearch"
            (click)="submitSearch()"
          >
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="showGrid" class="container-fluid gridOuter search">
    <ag-grid-angular
      #agGrid
      id="myGrid"
      class="ag-theme-alpine searchGrid"
      [rowHeight]="20"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowBuffer]="rowBuffer"
      [rowSelection]="rowSelection"
      [rowModelType]="rowModelType"
      [cacheBlockSize]="cacheBlockSize"
      [cacheOverflowSize]="cacheOverflowSize"
      [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
      [infiniteInitialRowCount]="infiniteInitialRowCount"
      [maxBlocksInCache]="maxBlocksInCache"
      [rowData]="rowData"
      [icons]="icons"
      [suppressNoRowsOverlay]="false"
      [sortingOrder]="['asc', 'desc']"
      [overlayNoRowsTemplate]="noRowsTemplate"
      [headerHeight]="35"
      [tooltipShowDelay]="tooltipShowDelay"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>

<router-outlet></router-outlet>
