<ng-container *ngIf="!action && !isFromUser">
  <span *ngFor="let value of paramData;  let i=index">
    <span class="oval" *ngIf="i<3" data-toggle="tooltip" [title]="value.title"
      >{{value.title}}</span
    >
    <span><a *ngIf="i===3" (click)="btnClickedHandler()">...</a></span>
  </span>
</ng-container>
<ng-container *ngIf="!action && isFromUser">
  <span *ngFor="let value of paramData;  let i=index">
    <span
      class="oval"
      *ngIf="i<5"
      data-toggle="tooltip"
      [title]="value.groupName"
      >{{value.groupName}}</span
    >
    <span class="expandLink"
      ><a *ngIf="i===5" (click)="btnClickedHandler()">...</a></span
    >
  </span>
</ng-container>
<ng-container *ngIf="action">
  <span
    class="buttonSpan pasteSpan"
    data-toggle="tooltip"
    title="Edit"
    (click)="edit()"
    ><img
      src="../../../../assets/Images/alpine-icons/paste.svg"
      alt="paste-icon"
      class="buttonImg"
  /></span>
  <span
    class="buttonSpan deleteSpan"
    data-toggle="tooltip"
    title="Delete"
    (click)="delete()"
    ><img
      src="../../../../assets/Images/alpine-icons/cross.svg"
      alt="cross-icon"
      class="buttonImg"
  /></span>
</ng-container>
