<div *ngIf="route.children.length === 0">
  <app-error-component *ngIf="showError"></app-error-component>
  <div class="buttonDivAudit">
    <button
      *ngIf="!showError"
      [disabled]="disableButton"
      class="btn btn-primary btn-sm versionButtonAudit"
      (click)="versionCompare()"
    >
      Version Comparison
    </button>
  </div>
  <div class="auditDiv gridOuter">
    <ag-grid-angular
      #agGrid
      id="myGrid"
      class="ag-theme-alpine auditGrid"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [rowHeight]="28"
      [defaultColDef]="defaultColDef"
      [icons]="icons"
      [sortingOrder]="['asc', 'desc']"
      [headerHeight]="35"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>

<router-outlet></router-outlet>
