<app-error-component *ngIf="showError"></app-error-component>
<div class="container-fluid outer" *ngIf="route.children.length === 0">
  <h3>Study Comparison</h3>
  <div class="row">
    <div class="row col-md-5">
      <div class="col-md-5 compare">Compare</div>
      <div class="row col-md-7 compareOuter">
        <div class="col-md-11 search-text-div">
          <span class="oval" *ngIf="studyOneTitle && studyOneTitle !== ''"
            ><span class="ovalText" data-toggle="tooltip" [title]="toolTipOne"
              >{{ studyOneTitle }}_Version{{ studyOneVersion }}
            </span>
          </span>
        </div>
        <div class="col-md-1 search-icon-div">
          <!-- <button class="btn btn-primary btn-sm" >
            Search
          </button> -->
          <i class="fa fa-search" (click)="redirect('search1')"></i>
        </div>
      </div>
    </div>

    <div class="row col-md-4">
      <div class="col-md-1 to">To</div>
      <div class="row col-md-10 compareOuter">
        <div class="col-md-11 search-text-div">
          <span class="oval" *ngIf="studyTwoTitle && studyTwoTitle !== ''"
            ><span class="ovalText" data-toggle="tooltip" [title]="toolTipTwo"
              >{{ studyTwoTitle }}_Version{{ studyTwoVersion }}
            </span>
          </span>
        </div>
        <div class="col-md-1 search-icon-div">
          <!-- <button class="btn btn-primary btn-sm" (click)="redirect('search2')">
            Search
          </button> -->
          <i class="fa fa-search" (click)="redirect('search2')"></i>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="col-md-3">
      <form>
        <button
          class="btn btn-secondary btn-sm clearButton"
          type="button"
          (click)="clear()"
        >
          Reset
        </button>
        <button
          class="btn btn-primary btn-sm searchButton"
          [disabled]="
            !studyTwoTitle ||
            studyTwoTitle === '' ||
            !studyOneTitle ||
            studyOneTitle === ''
          "
          type="button"
          (click)="versionCompare()"
        >
          Compare
        </button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
