.container {
  margin-top: 2%;
}
.paddingTen {
  padding-top: 10px;
  span {
    color: red;
  }
}
.checkbox {
  // display: block;
  // width: 100%;
  // padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.inputDiv {
  padding-left: 0px;
  padding-right: 0px;
  input {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
.buttonGroup {
  margin: 0 auto;
  display: flex;
  align-items: center;
  line-height: 20px;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
  color: #fff;
  text-align: center;
  height: 20px;
  .btn {
    margin: 0 5px;
  }
  span,
  button {
    cursor: pointer !important;
  }
}
.currentRule {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.initial-container {
  margin-bottom: 10px;
}
.searchButton {
  margin: 10px;
}

.gridOuter {
  height: 180px;
  width: 100%;
}

.searchGrid {
  width: 100%;
  height: 100%;
}

.oval {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 0px 10px !important;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  margin: 3px 3px;
  border-radius: 63px;
}
.ovalText {
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.chkBox {
  margin: 0px 20px;
}
.btn-primary {
  color: #fff;
  // background-color: coral;
  // border-color: coral;
}
.groupError {
  color: red;
}
select,
input[type="checkbox"] {
  cursor: pointer !important;
}
