<app-error-component *ngIf="showError"></app-error-component>
<alert
  *ngIf="saveSuccess"
  type="success"
  dismissOnTimeout="1000"
  (onClosed)="onClosed()"
>
  <strong>User association for group saved successfully</strong>
</alert>
<div class="container-fluid">
  <h2 *ngIf="!isEdit">Add User</h2>
  <h2 *ngIf="isEdit">Edit User</h2>
  <form class="initial-container">
    <div class="row">
      <div class="col-10">
        <!--left side -->
        <div class="form-group row">
          <label class="col-sm-4 paddingTen">User Name:<span>*</span></label>
          <div class="col-sm-8 inputDiv">
            <ng-multiselect-dropdown
              [ngModelOptions]="{ standalone: true }"
              [settings]="dropdownSettingsUser"
              [data]="userList"
              [(ngModel)]="userSelected"
              [disabled]="isEdit"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="row paddingTen">
      <div class="col-10">
        <!--left side -->
        <div class="form-group row">
          <label class="col-sm-4 paddingTen">Group:<span>*</span></label>
          <div class="col-sm-8 inputDiv">
            <ng-multiselect-dropdown
              [ngModelOptions]="{ standalone: true }"
              [settings]="dropdownSettings"
              [data]="groupList"
              [(ngModel)]="groupSelected"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-12 text-center custom-user-btn">
    <form>
      <button
        class="btn btn-secondary btn-sm searchButton"
        type="submit"
        (click)="openSearchData(confirmation)"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary btn-sm searchButton"
        type="submit"
        [disabled]="groupSelected.length === 0 || userSelected.length === 0"
        (click)="addUser()"
      >
        {{ isEdit ? "Update" : "Add" }}
      </button>
    </form>
  </div>
</div>
<ng-template #confirmation>
  <div class="modal-body text-center confirmModal">
    <p>Are you sure you want to cancel?</p>

    <button type="button" class="btn btn-secondary" (click)="decline()">
      No
    </button>
    <button type="button" class="btn btn-primary" (click)="confirm()">
      Yes
    </button>
  </div>
</ng-template>
