<configuration>
<system.webServer>
<defaultDocument enabled="true">
</defaultDocument>
<httpProtocol> 
        <customHeaders>  
          <add  name="Access-Control-Allow-Origin"  value="*"  /> 
          <!-- <add name="Content-Security-Policy" value="default-src 'self';frame-src 'self';frame-ancestors 'self'; style-src 'unsafe-inline'"/> -->
          <add name="X-Content-Type-Options" value="NOSNIFF"/>
          <add name="X-Frame-Options" value="sameorigin"/>
          <add name="X-Permitted-Cross-Domain-Policies" value="master-only"/>
          <add name="X-XSS-Protection" value="1; mode=block"/>
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>           
        </customHeaders> 
       </httpProtocol> 
<staticContent>
    <remove fileExtension=".woff" />
    <remove fileExtension=".ttf" />
    <remove fileExtension=".eot" />
    <remove fileExtension=".otf" />
    <remove fileExtension=".svg" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
    <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    <mimeMap fileExtension=".otf" mimeType="application/font-otf" />
    <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
</staticContent>
<rewrite>
  <rules>
    <rule name="Redirect all requests" stopProcessing="true">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      </conditions>
      <action type="Rewrite" url="/" />
      </rule>
  </rules>
</rewrite>
</system.webServer>
<system.web>
  <identity impersonate="false" />
</system.web>
</configuration>
