<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  *ngIf="refreshStatus"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navDiv">
      <a *ngFor="let menu of menuItems; let i = index">
        <a
          class="dropdown-menu-item listStyle"
          *ngIf="menu.link"
          [ngClass]="{ active: menu.isSelected }"
          [href]="menu.link"
          (click)="changeActive(menu.text)"
          >{{ menu.text }}</a
        >
        <a
          class="dropdown-menu-item listStyle"
          *ngIf="!menu.link"
          [ngClass]="{ active: menu.isSelected }"
          >{{ menu.text }}</a
        >

        <div
          class="submenu-container"
          *ngIf="menu.subMenu && menu.subMenu.length > 0"
        >
          <a
            *ngFor="let sub of menu.subMenu; let j = index"
            class="submenu-item"
            [href]="sub.link"
            (click)="changeActive(sub.text)"
          >
            {{ sub.text }}</a
          >
        </div>
      </a>
    </div>
  </div>
  <div class="accordion" id="accordionExample" (click)="logout()">
    <span class="listStyle"> Logout</span>
  </div>
</nav>
