<!-- <nav class="navbar navbar-default" id="menu"  *ngIf = "refreshStatus">
    <ul class="nav navbar-nav ">
      <li  *ngFor="let menu of menuList" class="nav-item">
        <a class="nav-link" [ngClass]="{'active': menu.isSelected}" [href]=menu.link (click)="changeActive(menu.name)">{{menu.name}}</a>
      </li>
     
    </ul>
  </nav> -->

<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  *ngIf="refreshStatus"
>
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navDiv">
      <a *ngFor="let mi of menuItems;let i = index">
       
          
          <span class="dropdown-menu-item listStyle">{{ mi.text }}</span>
        
        <div class="submenu-container" *ngIf = "mi.subMenu && mi.subMenu.length>0">
          <span *ngFor="let sub of mi.subMenu;let j = index" class="submenu-item"
            > {{ sub.text }}</span> 
        </div>
      </a>
      <!-- <div class="navbar-nav" *ngFor="let menu of menuList; let i = index">
        <button mat-button [matMenuTriggerFor]="menu">
          <a
            class="nav-item nav-link listStyle"
            [ngClass]="{ active: menu.isSelected }"
            [href]="menu.link"
            (click)="changeActive(menu.name)"
            >{{ menu.name }}</a
          >
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        
      </div> -->
    </div>
  </div>
  <div class="accordion" id="accordionExample" (click)="logout()">
    <span class="listStyle"> Logout</span>
    <!-- <img src="../../../../assets/Images/alpine-icons/sign-out.svg" class="imgStyleHeader" title="Log Out" > -->
  </div>
</nav>
