
<div class="toolbar row" role="banner">
  <div class="col-3">
    <img class="logoImg"
      
      alt="Angular Logo" src="./assets/Images/TranslateIcon.png"/>
      </div>
      <div class="col-7"></div>
      <div class="col-2">
      <!-- <span class="user">User</span> -->
      <!-- <i class="fa fa-th fa-5x"></i> -->
      <div *ngIf="refreshStatus" class="accordion" id="accordionExample">
       
        <!-- <img src="../../../../assets/Images/alpine-icons/sign-out.svg" class="imgStyleHeader" title="Log Out" (click)="logout()"> -->
      </div>
      </div>
    </div>
   