<app-error-component *ngIf="showError"></app-error-component>
<div class="container-fluid gridOuter search">
  <div _ngcontent-hbw-c56="" class="buttonDiv ng-star-inserted">
    <button
      _ngcontent-hbw-c56=""
      class="newButton btn btn-primary btn-sm"
      routerLink="addGroup"
    >
      Add New Group
    </button>
  </div>
  <ag-grid-angular
    class="ag-theme-alpine admin"
    [gridOptions]="gridOptions"
    [frameworkComponents]="frameworkComponents"
    [headerHeight]="40"
    [rowHeight]="30"
    [rowData]="rowData"
  ></ag-grid-angular>
</div>
<ng-template #content>
  <div class="modal-header">
    <h2 class="modal-title pull-left">Rule / Selected Value(s)</h2>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span *ngFor="let value of filterFieldList; let i = index">
      <span class="oval">{{ value.title }}</span>
    </span>
  </div>
</ng-template>

<ng-template #confirmation>
  <div class="modal-body text-center confirmModal">
    <p *ngIf="!isGroupSingleValue">
      Are you sure you want to delete the selected rule from
      <strong>{{ selectedGroup }}</strong> ?
    </p>
    <p *ngIf="isGroupSingleValue">
      Are you sure you want to delete the group
      <strong>{{ selectedGroup }}</strong> ?
    </p>
    <button type="button" class="btn btn-secondary" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
