<div
  class="no-study-blocks-container"
  *ngIf="tabs && tabs.studyDesigns && tabs.studyDesigns.length === 0"
>
  No Study Designs to display SoA Matrix
</div>
<ng-template #dataError>
  <div class="no-workflows-container">
    Insufficient data to generate SoA Matrix
  </div>
</ng-template>
<div
  class="soa-container"
  *ngIf="tabs && tabs.studyDesigns && tabs.studyDesigns.length > 0"
>
  <tabset #tabset1 customClass="soa-tab-container">
    <tab
      *ngFor="let tab of tabs.studyDesigns"
      customClass="study-design-container"
    >
      <ng-template tabHeading>
        <span title="{{ tab.studyDesignName }}">{{ tab.studyDesignName }}</span>
      </ng-template>
      <div class="study-design-tab-section">
        <div
          class="no-workflows-container"
          *ngIf="tab.studyScheduleTimelines.length === 0"
        >
          Insufficient data to generate SoA Matrix
        </div>
        <tabset
          #tabset2
          *ngIf="
            tab.studyScheduleTimelines && tab.studyScheduleTimelines.length > 0
          "
        >
          <ng-container *ngFor="let item of tab.studyScheduleTimelines">
            <tab customClass="workflow-container">
              <ng-template tabHeading>
                <span title="{{ item.scheduleTimelineDescription }}">
                  {{ item.scheduleTimelineDescription }}
                </span>
              </ng-template>
              <ng-container
                *ngIf="item.scheduleTimelineSoA !== null; else dataError"
              >
                <div class="table-responsive soa-table">
                  <table
                    class="table table-bordered"
                    aria-describedby="soatable"
                  >
                    <thead class="soa-table-thead">
                      <tr>
                        <th class="first-block" id="first"></th>
                        <ng-container
                          *ngFor="
                            let content of item.scheduleTimelineSoA.SoA;
                            let i = index
                          "
                        >
                          <th [id]="'soa' + i">{{ content.encounterName }}</th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody class="soa-table-tbody">
                      <tr
                        *ngFor="
                          let rowEl of item.scheduleTimelineSoA
                            .orderOfActivities
                        "
                      >
                        <td class="tbody-first-cols">{{ rowEl }}</td>
                        <td
                          *ngFor="let activity of item.scheduleTimelineSoA.SoA"
                        >
                          <ng-container
                            *ngFor="
                              let itemActivity of activity.activities;
                              let i = index
                            "
                          >
                            <span *ngIf="rowEl === itemActivity"
                              ><strong
                                title="{{
                                  findDuplicate(
                                    i,
                                    itemActivity,
                                    activity.activities
                                  )
                                    ? 'Duplicate entries found'
                                    : ''
                                }}"
                                [class.duplicate]="
                                  findDuplicate(
                                    i,
                                    itemActivity,
                                    activity.activities
                                  )
                                "
                              >
                                X</strong
                              ></span
                            >
                          </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>
            </tab>
          </ng-container>
        </tabset>
      </div>
    </tab>
  </tabset>
</div>
